{extend name="base"/}
<!--上级栏目-->
{block name="slider_bar"}goods-index{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>{:lang('c_goods')}</li>
<li>{:lang('c_goods_opt')}</li>
{/block}


{block name="content"}


<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->

<form class="form-horizontal" role="form" id="form" action="{:url('')}">
    <h4 class="blue">
        <a class="btn btn-white btn-info btn-bold submit" href="javascript:;" onclick="$.common.submit($('#form'))">{:c_lang('g_save')}</a>
    </h4>

    <input type="hidden" name="goods[id]" value="{$model['id']}"/>

    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> {:c_lang($sys_master,'p_f_goods_cate')} </label>

                <div class="col-sm-9">
                    <select class="form-control" name="goods[cid]">
                        <option value="">{:c_lang($sys_master,'p_f_goods_cate_select')}</option>
                        {volist name="cate_list" id="vo"}
                        <option value="{$vo['id']}" {:$model['cid']==$vo['id']?'selected':''}>{$vo['name']}</option>

                            {volist name="vo['link_data']" id="ch"}
                            <option value="{$ch['id']}" {:$model['cid']==$ch['id']?'selected':''}>&nbsp;&nbsp;{$ch['name']}</option>
                                {volist name="ch['link_data']" id="chch"}
                                <option value="{$chch['id']}" {:$model['cid']==$chch['id']?'selected':''}>&nbsp;&nbsp;&nbsp;&nbsp;{$chch['name']}</option>
                                {/volist}
                            {/volist}


                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">
                    {:c_lang($sys_master,'p_f_goods_brand')} </label>

                <div class="col-sm-9">
                    <select class="form-control" name="goods[bid]">
                        <option value="">{:c_lang($sys_master,'p_f_goods_brand_select')}</option>
                        {volist name="brand_list" id="vo"}
                        <option value="{$vo['id']}"  {:$model['bid']==$vo['id']?'selected':''}>{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> {:c_lang($sys_master,'p_f_goods_name')} </label>

                <div class="col-sm-9">
                    <input type="text" placeholder="{:c_lang($sys_master,'p_f_goods_name')}" name="goods[name]"
                           value="{$model['name']}" class="form-control" maxlength="200"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">
                    {:c_lang($sys_master,'p_f_goods_subtitle')} </label>

                <div class="col-sm-9">
                    <input type="text" placeholder="{:c_lang($sys_master,'p_f_goods_subtitle')}" name="goods[subtitle]"
                           value="{$model['subtitle']}" class="form-control" maxlength="200"/>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">
                    {:c_lang($sys_master,'p_f_goods_cover_img')} </label>

                <div class="col-sm-9">
                    <input type="hidden" name="goods[cover_img]" value="{$model['cover_img']}"/>
                    <button type="button" class="layui-btn alone-upload"
                            lay-data='{: "data":{ "route":"goods_cover_img"}}'>
                        <i class="layui-icon">&#xe67c;</i>{:lang('g_upload_image')}
                    </button>
                    <img src="{:get_image_location($model['cover_img'])}" width="80px" height="30px"/>
                </div>
            </div>


            <div class="space-4"></div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> {:lang('g_status')} </label>

                <div class="col-sm-9">
                    <label>
                        <input type="radio" name="goods[status]" value="1" class="ace" {$model['status']!=2?'checked':''}>
                        <span class="lbl"> {:lang('g_status_normal')}</span>
                    </label>
                    <label>
                        <input type="radio" name="goods[status]" value="2" class="ace" {$model['status']==2?'checked':''}>
                        <span class="lbl">  {:lang('g_status_close')}</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> {:lang('g_sort')} </label>

                <div class="col-sm-9">
                    <input type="number" name="goods[sort]" value="{:$model['sort']?$model['sort']:100}"/>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>{:c_lang($sys_master,'p_f_goods_intro')}</label>

                    <textarea class="form-control" rows="4" name="goods[intro]">{$model['intro']}</textarea>
                </div>

            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <div>
                    <label>{:c_lang($sys_master,'p_f_goods_content')}</label>

                    <textarea id="full_text" class="form-control" name="goods[content]">{$model['content']}</textarea>
                </div>
            </div>

        </div>
        <!--右侧-->
        <div class="col-sm-7">
            <h3 class="row header smaller lighter blue">
                <span class="col-xs-6"> {:c_lang($sys_master,'p_goods_attr')} </span>
            </h3>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    {:c_lang($sys_master,'p_f_goods_model')} </label>

                <div class="col-sm-10">
                    <select class="" name="goods[mid]">
                        <option value="">{:c_lang($sys_master,'p_f_goods_model_select')}</option>
                        {volist name="attr_list" id="vo"}
                        <option value="{$vo['id']}"  {:$model['mid']==$vo['id']?'selected':''}>{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label "> {:c_lang($sys_master,'p_f_goods_sku')} </label>

                <div class="col-sm-10 " id="sku">

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> {:c_lang($sys_master,'p_f_goods_spu')} </label>

                <div class="col-sm-10" id="spu">

                </div>
                <div id="sku-table">
                </div>
            </div>


        </div>
    </div>

</form>
<div id="sku-content" style="display:none">
    <table class="table center">
        <tbody>
        <tr>
            <td id="sku-add-name">{:lang('g_name')}-<span></span></td>
            <td><input type="text"/></td>
        </tr>
        </tbody>

    </table>
</div>

{/block}

{block name="script"}
<script src="/static/layui-v2.4.5/define_upload.js"></script>
<script>
    layui.use(['upload', 'laydate', 'layedit'], function () {
        var upload = layui.upload; //得到 upload 对象
        $.fn.upload_obj.upload_img(upload, '.alone-upload')
        //富文本
        $.common.full_text(layui.layedit, 'goods');
    });

    var model_info = {}



    $(function () {
        $("#sku").on('click','.add-sku',function(){
            var $this = $(this)
            var sku_name = $(this).parent().find('label').text();
            $("#sku-content #sku-add-name>span").text(sku_name)
            //索引
            var sku_index = $(this).parent().index()
            layer.open({
                type:1,
                btn:['确定','取消'],
                title:'add sku',
                area:["300px","180px"],
                content:$("#sku-content"),
                yes:function(index, layero){
                    var value = $.trim(layero.find("input[type='text']").val())
                    if(value){
                        var pid = model_info['sku'][sku_index].id;
                        var id = model_info['sku'][sku_index].child.length;
                        model_info['sku'][sku_index].child.push({"attr":value,"state":1,"id":id,"pid":pid})
                        //每次操作重新渲染
                        //处理sku
                        handleSku(model_info['sku']);
                        handleTable(model_info['sku'])
                    }
                }
            })
        })
        //sku枚举类型
        $("#sku").on('change','input[type="checkbox"]',function(){
            var bool = $(this).prop("checked");
            //索引
            var index = $(this).parents('div').index()
            var current_index = $(this).parent().index()-1;
            //alert(index+'-'+current_index)
            model_info['sku'][index]['child'][current_index]['state'] = bool?1:0
            // console.log(model_info['sku'][index]['child'])
            //操作节点

            //每次操作重新渲染
            handleTable(model_info['sku'])
        })
        //属性选择
        $("select[name='goods[mid]']").change(function(){
            var gid = $("input[name='goods[id]']").val();
            var id =$(this).val()
            $.post("{:url('getModelAttr')}",{id:id,gid:gid},function (result) {
                var data = result.data;
                model_info = data;
            }).then(function(){
                drawTable()
            })
        })

        //商品sku复选框-全选/取消
        $("#sku-table").on('change'," table thead tr input[type='checkbox']",function(){
            var bool =$(this).prop('checked')
            $("#sku-table table tbody tr input[type='checkbox']").prop('checked',bool)
        })

        //sku复选框--隐藏效果
        $("#sku-table").on('change'," table tbody tr input[type='checkbox']",function(){
            var bool =$(this).prop('checked')
            if(!bool) {
                $(this).parents('tr').hide()
            }
        })

        //快速填充价格
        $("#sku-table").on('keyup'," table tfoot tr input:eq(0)",function(){
            var value = $(this).val()
            $("#sku-table table tbody tr").find("input[type='number']:eq(0)").each(function(index){
                $(this).val(value)
            })
        })

        //快速填充库存
        $("#sku-table").on('keyup'," table tfoot tr input:eq(1)",function(){
            var value = $(this).val()
            $("#sku-table table tbody tr").find("input[type='number']:eq(1)").each(function(index){
                $(this).val(value)
            })
        })


        //主动调用属性
        $("select[name='goods[mid]']").change()

    })
    // drawTable()
    //绘制table
    function drawTable() {
        var sku_html = '';
        //处理spu
        handleSpu(model_info['spu']);
        //处理sku
        handleSku(model_info['sku']);
        //处理显示数据
        handleTable(model_info['sku'])
    }
    //处理spu数据
    function handleSpu(data){
        var html ='<div class="row widget-main no-padding-top no-padding-bottom">';

        data.map(function (data, index) {
            html += '' +
                '<label>'+data.group_name+'</label>' +
                '<div class="widget-main no-padding-top">';
            data['child'].map(function(child,ch_index){
                html +='<label class="block">\n' +
                    '   <span class="lbl">'+child.attr+'：</span>\n';
                if(child.type=='enum'){
                    //枚举
                    html += '<select class="width-50" name="spu['+child.id+']"><option value="">{:lang("g_select")}</option>';

                    child['data'].map(function(ch_data,ch_d_index){
                        html +='<option value="'+ch_data.name+'" '+(ch_data.name==child.value?'selected':'')+'>'+ch_data.name+'</option>';
                    })
                    html += '</select>'

                }else{
                    //自定义
                    html+=   '   <input type="text" name="spu['+child.id+']" value="'+child.value+'" class="width-50">\n'

                }
                html+='</label>';
            })
            html+='</div>'
        })
        html+='</div>'
        $("#spu").html(html)
    }
    //处理sku数据
    function handleSku(data){
        var html ='';

        data.map(function (data, index) {
            html += '<div><label>'+data.group_name+'：</label>';

            data['child'].map(function(child,ch_index){
                html +='<label>\n' +
                    '   <input type="checkbox" name="choose_sku['+data.id+']['+ch_index+']" value="'+child.attr+'" '+(child.state==1?'checked':'')+' class="ace">\n' +
                    '   <span class="lbl">'+child.attr+'</span>\n' +
                    '   </label>'

            })

            if(data.type=='auto') {
                html+='<a href="javascript:;" data-id="'+data.id+'" class="btn btn-minier btn-primary add-sku"> {:lang("g_auto")}</a>'
            }
            html+='</div>'
        })
        $("#sku").html(html)
    }

    //处理table数据
    function handleTable(data)
    {
        var html = '<table class="table  table-bordered table-hover center">\n' +
            '                        <thead>\n' +
            '                        <tr>\n' +
            '                            <td width="3%">\n' +
            '                                <label class="pos-rel">\n' +
            '                                    <input type="checkbox" class="ace">\n' +
            '                                    <span class="lbl"></span>\n' +
            '                                </label>\n' +
            '                            </td>\n';
        var tbody_html = '';

        var arr = [];
        data.map(function (data, index) {
            if( data.child.length > 0 ){
                var show_data = [];
                data.child.map(function(arr,a_index){
                    arr.state && show_data.push(arr);
                })
                if(show_data.length){
                    html += '<td width="7%" class="tr-'+index+'">' + data['group_name'] + '</td>';
                    arr.push(show_data)
                }
            }

        })
        //库存信息
        var   stock_info = model_info['stock']

        var   result = cartesianProductOf(arr)


        result.map(function (child, index) {
            tbody_html += '<tr><td width="3%"><label class="pos-rel"><input type="checkbox" name="sku[]" value="'+index+'" checked class="ace"><span class="lbl"></span></label></td>';
            var attr_index = [];
            for (var i = 0; i < child.length; i++) {
                attr_index.push(child[i].id)
                tbody_html += '<td>' + child[i].attr + '<input type="hidden" name="attr['+index+']['+child[i].pid+'_'+child[i].id+']" value="'+child[i].attr+'"></td>';
            }
            attr_index = attr_index.join('|')

            tbody_html += '' +
                '<td><input type="text" name="code['+index+']" value="'+(stock_info.hasOwnProperty(attr_index)?stock_info[attr_index].code:'')+'" class="width-60"></td>' +
                '<td><input type="text" name="bar_code['+index+']" value="'+(stock_info.hasOwnProperty(attr_index)?stock_info[attr_index].bar_code:'')+'" class="width-60"></td>' +
                '<td><input type="number" name="price['+index+']" value="'+(stock_info.hasOwnProperty(attr_index)?stock_info[attr_index].price:'')+'" class="width-60"></td>' +
                '<td>' +
                '<input type="number" name="stock['+index+']" value="'+(stock_info.hasOwnProperty(attr_index)?stock_info[attr_index].stock:'')+'" class="width-60">' +
                '<input type="hidden" name="goods_stock_index[]" value="'+(stock_info.hasOwnProperty(attr_index)?stock_info[attr_index].id:'')+'"/>'+
                '</td>' +

                '</tr>\n';
        })

        html += '<td width="7%">{:c_lang($sys_master,"p_td_goods_code")}</td>' +
            '<td width="7%">{:c_lang($sys_master,"p_td_goods_bar_code")}</td>' +
            '<td width="7%">{:c_lang($sys_master,"p_td_goods_price")}</td>' +
            '<td width="7%">{:c_lang($sys_master,"p_td_goods_stock")}</td>' +
            '</tr></thead>\n<tbody>' + tbody_html

        html += '</tbody><tfoot><tr>' +
            '<td colspan="3"></td>' +
            '<td><input type="number"  class="width-60"/></td>' +
            '<td><input type="number"  class="width-60"/></td>' +
            '</tr></tfoot>' +
            '</table>'

        // console.log(html)
        $("#sku-table").html(html)
    }



    function cartesianProductOf() {
        return Array.prototype.reduce.call(arguments[0], function (a, b) {
            var ret = [];
            a.forEach(function (a) {
                b.forEach(function (b) {
                    ret.push(a.concat([b]));
                });
            });
            return ret;
        }, [[]]);
    }
</script>
{/block}