{extend name="base"/}
<!--上级栏目-->
{block name="slider_bar"}goods-brand{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>{:lang('c_goods')}</li>
<li>{:lang('c_goods_brand')}</li>
{/block}


{block name="content"}


<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->
<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-xs-6">
            <a href="{:url('brandAdd')}" class="btn btn-sm btn-primary" type="button">{:c_lang($sys_master,'p_goods_brand_add')}</a>
        </div>
        <div class="col-xs-5 text-right">

        </div>
        <div class="col-xs-1">

        </div>
    </div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th width="80">{:lang('g_td_number')}</th>
            <th width="120">{:c_lang($sys_master,'p_td_goods_brand_name')}</th>
            <th width="120">{:c_lang($sys_master,'p_td_goods_brand_en')}</th>
            <th width="120">{:c_lang($sys_master,'p_td_goods_brand_letter')}</th>
            <th width="120">{:c_lang($sys_master,'p_td_goods_brand_status')}</th>
            <th width="80">{:lang('g_td_opt')}</th>
        </tr>
        </thead>

        <tbody>
        {volist name="list" id="vo"}
            <tr>
                <td>{:$i}</td>
                <td>{$vo['name']}</td>
                <td>{$vo['en']}</td>
                <td>{$vo['letter']}</td>
                <td>{:$vo::$fields_status[$vo['status']]}</td>
                <td>
                    <a href="{:url('brandAdd',['id'=>$vo['id']])}">{:lang('g_edit')}</a>
                    <a href="javascript:;" onclick="$.common.del(this,'{:url('brandDel')}',{'id':{:$vo['id']}})" data-id="{$vo['id']}">{:lang('g_del')}</a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
    {$page|raw}
</div>

{/block}

{block name="script"}

{/block}