{extend name="base"/}
<!--上级栏目-->
{block name="slider_bar"}goods-model{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>{:lang('c_goods')}</li>
<li>{:lang('c_goods_model')}</li>
<li>{:lang('c_goods_model_opt')}</li>
{/block}


{block name="content"}


<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->

<form class="form-horizontal col-sm-6 col-sm-offset-2" role="form" id="form" action="{:url('')}">
    <input type="hidden" name="id" value="{$model['id']}" />


    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> {:lang('g_name')} </label>

        <div class="col-sm-9">
            <input type="text"  placeholder="{:lang('g_name')}" name="name" value="{$model['name']}" class="form-control" maxlength="20"/>
        </div>
    </div>




    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> {:c_lang($sys_master,'p_f_goods_model_attr')} </label>

        <div class="col-sm-9">
            <textarea class="form-control" rows="4" name="attr">{$model['attr']}</textarea>
            <span class="help-block">{:c_lang($sys_master,'p_f_goods_model_attr_notice')}</span>
        </div>
    </div>


    <div class=" form-actions clearfix">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button" id="submit" onclick="$.common.submit($(this).parents('form'))">
                <i class="ace-icon fa fa-check bigger-110"></i>
                {:lang('g_save')}
            </button>

        </div>
    </div>

</form>



{/block}

{block name="script"}
<script>

    $(function(){

    })
</script>
{/block}