{extend name="base"/}

{block name="content"}
{include file="common/normal_header" step="2"/}

<!--广告块-->
<div class="layui-main layui-main-width main-content order-info">
    <form action="{:url('Order/create')}" method="post">
    <div class="layui-card">
        <div class="layui-card-header card-header ">收货人信息</div>
        <div class="layui-card-body card-body-flex">
            <input type="hidden" name="addr_id" value="{:isset($list_addr[0])?$list_addr[0]['id']:0}"/>
            {volist name="list_addr" id="vo"}
            <div class="layui-box receive-addr {:empty($key)?'active':''}" data-id="{$vo['id']}">
                {:empty($key)?'<i class="layui-icon layui-icon-ok-circle"></i>':''}
                <div class="layui-text name">{$vo['rec_name']}</div>
                <div class="layui-text phone">{$vo['rec_phone']}</div>
                <div class="layui-text addr">{$vo['province'].' '.$vo['city'].' '.$vo['area'].' '.$vo['addr']}</div>
                <div class="choose-info">
                    <a href="{:url('users/addrAdd',['id'=>$vo['id']])}" class="modify">修改</a>
                </div>
            </div>
            {/volist}

            <div class="layui-box add-addr">
                <i class="layui-icon layui-icon-location"></i>
                <a href="{:url('users/addrAdd')}">添加新地址</a>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header card-header">支付方式</div>
        <div class="layui-card-body pay-style">
            <input type="hidden" name="pay_id" value="1"/>
            <ul>
                {for start="1" end="count($pay_style)"}
                <li data-id="{$i}"><a  class="{:$i==1?'active':''}"  href="javascript:;"><img src="{:get_image_location($pay_style[$i]['img'])}"/></a></li>
                {/for}
            </ul>
        </div>
    </div>
    <div class="layui-card">
        {foreach  $goods_list as $k=>$gl}
        <input type="hidden" name="goods_info[{$k}][mch_id]" value="{$gl['merchant_info']['id']}"/>
        <div class="layui-card-header card-header">店铺: {$gl['merchant_info']['name']}</div>
        <div class="layui-card-body goods-item">
            <div class="goods-info">

                    {volist name="gl['list']" id="vo" key="goods_key"}
                        <div class="goods">

                            <a href="##">
                                <img src="{:get_image_location($vo['cover_img'])}" alt=""/>
                                <span class="name">
                                    {$vo['name']}
                                </span>
                            </a>
                            <div class="attr">
                                <span class="prop">{:implode("|",$vo['link_one_price']['attr_info_name'])}</span>
                                <span class="price">￥{$vo['link_one_price']['price']}</span>
                                <span class="num">{$vo['number']}</span>
                                <span class="total">￥{$vo['total_price']}</span>

                            </div>
                        </div>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][gid]" value="{$vo['id']}"/>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][attr_id]" value="{$vo['link_one_price']['id']}"/>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][num]" value="{$vo['number']}"/>
                    {/volist}

            </div>
        </div>
        {/foreach}

    </div>
    <div class="layui-card">
        <div class="layui-card-header card-header">发票信息</div>
        <div class="layui-card-body invoice">
            <div class="intro">
                <span class="invoice-type">
                    {if(isset($fields_type_info[0]))}
                        {$fields_type_info[0]['name']}
                    {else/}
                        请选择发票类型
                    {/if}
                </span>
            </div>
            <a href="javascript:;" id="mod-invoice">修改</a>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body result">
            <div class="remark">
                <textarea rows="10" placeholder="订单备注 限200字" maxlength="200" name="remark"></textarea>
            </div>
            <div class="result-info">
                <table class="layui-table" lay-size="lg">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>购买数量</td>
                        <td>{$number}</td>
                    </tr>
                    <tr>
                        <td>运费</td>
                        <td>{$freight_money}</td>
                    </tr>
                    <tr>
                        <td>应付金额</td>
                        <td>￥{$total_money}</td>
                    </tr>
                    <tr>
                        <td>优惠抵扣</td>
                        <td>￥{$dis_money}</td>
                    </tr>
                    <tr>
                        <td>实付总额</td>
                        <td>￥{$pay_money}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body order-sure">
            <button id="submit">提交订单</button>
        </div>
    </div>

        <div class="content layui-card user-invoice layui-form" id="user-invoice" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label">发票类型</label>
                <div class="layui-input-block">
                    <ul  id="tabHeader"  lay-allowClose="true" lay-filter="demo" >
                        {volist name="fields_type_info" id="vo"}
                        <li class="layui-inline">
                            <input type="radio" name="invoice-type" value="invoice[{$key}]"  title="{$vo['name']}" {:empty($key)?'checked':''} />
                        </li>
                        {/volist}
                    </ul>

                </div>
            </div>
            <div class="" id="tabBody">
                {volist name="fields_type_info" id="vo"}
                <div class="layui-tab-item xxx {:empty($key)?'layui-show':''} ">

                    {volist name="vo['info']" id="item"}
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">{$item['name']}</label>
                        <div class="layui-input-block">
                            {if($item['type']=='text')}
                            <input type="text" name="{$item['field']}" placeholder="{$item['name']}" value="{$model_invoice[$item['field']]}" class="layui-input">
                            {elseif($item['type']=='file')/}
                            <input type="hidden" name="{$item['field']}" value="{$model_invoice[$item['field']]}"/>
                            <button type="button" class="layui-btn" id="test1">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                            <a href="{:get_image_location($model_invoice[$item['field']])}" target="_blank">
                                <img src="{:get_image_location($model_invoice[$item['field']])}" width="80px" height="30px"/>
                            </a>
                            {/if}
                        </div>
                    </div>
                    {/volist}

                </div>
                {/volist}
            </div>
        </div>
    </form>
</div>





{include file="common/footer"/}
{/block}
{block name="script"}
<script>
    $(function(){
        var layer
        layui.use(['layer','form','element'],function(){
            layer = layui.layer;
            var form = layui.form;
            var element = layui.element;



            //JavaScript
            element.tab({
                headerElem: '#tabHeader>li' //指定tab头元素项
                ,bodyElem: '#tabBody>.xxx' //指定tab主体元素项
            });



        })

        //选择收货地址
        $(".receive-addr").click(function(){
            if($(this).hasClass('active')){

            }else{
                $(".receive-addr.active").removeClass('active').find('i').remove()
                $(this).addClass('active').prepend('<i class="layui-icon layui-icon-ok-circle"></i>')
                //赋值
                $(this).parent().find('input[name="addr_id"]').val($(this).data('id'))
            }
        })
        //选择支付方式
        $(".pay-style li").click(function(){
            if($(this).hasClass('active')){

            }else{
                $(".pay-style li a.active").removeClass('active')
                $(this).find('a').addClass('active')
                //赋值
                $(this).parent().parent().find('input[name="pay_id"]').val($(this).data('id'))
            }
        })

        //选择发票
        $("#mod-invoice").click(function(){
            var $this = $(this)
            layer.open({
                title:'选择发票'
                ,btn:['确定','取消']
                ,type:1
                ,shadeClose:true
                ,area:['800px','550px']
                ,content:$("#user-invoice")
                ,yes:function(index, layero){
                    // var type = $(layero).find("#tabHeader input[type='radio']:checked").val();
                    // console.log($(layero).find("#tabHeader input[type='radio']:checked").attr('title'));
                    $this.parent().find('.invoice-type').text($(layero).find("#tabHeader input[type='radio']:checked").attr('title'))
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                }
            });
        })
    })
</script>
{/block}