{extend name="base"/}

{block name="content"}
{include file="common/normal_header" step="2"/}

<!--广告块-->
<div class="layui-main layui-main-width main-content order-info">
    <form action="{:url('Order/create')}" method="post">
    <div class="layui-card">
        <div class="layui-card-header card-header ">收货人信息</div>
        <div class="layui-card-body card-body-flex">
            <input type="hidden" name="addr_id" value="99"/>
            <div class="layui-box">
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box active">
                <i class="layui-icon layui-icon-ok-circle"></i>
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box">
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box">
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box">
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box">
                <div class="layui-text name">用户名</div>
                <div class="layui-text phone">18702783614</div>
                <div class="layui-text addr">安徽 蚌埠 东市区   xxx</div>
                <div class="choose-info">
                    <a href="#" class="del">删除</a>
                    <a href="#" class="modify">修改</a>
                </div>
            </div>
            <div class="layui-box add-addr">
                <i class="layui-icon layui-icon-location"></i>
                <a href="{:url('users/addrAdd')}">添加新地址</a>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header card-header">支付方式</div>
        <div class="layui-card-body pay-style">
            <input type="hidden" name="pay_id" value="1"/>
            <ul>
                <li><a class="active" href="##"><img src="/static/images/paywx_03.jpg"/></a></li>
                <li><a href="##"><img src="/static/images/payzfb_03.jpg"/></a></li>
            </ul>
        </div>
    </div>
    <div class="layui-card">
        {foreach  $goods_list as $k=>$gl}
        <input type="hidden" name="goods_info[{$k}][mch_id]" value="{$gl['merchant_info']['id']}"/>
        <div class="layui-card-header card-header">店铺: {$gl['merchant_info']['name']}</div>
        <div class="layui-card-body goods-item">
            <div class="goods-info">

                    {volist name="gl['list']" id="vo" key="goods_key"}
                        <div class="goods">

                            <a href="##">
                                <img src="{:get_image_location($vo['cover_img'])}" alt=""/>
                                <span class="name">
                                    {$vo['name']}
                                </span>
                            </a>
                            <div class="attr">
                                <span class="prop">{:implode("|",$vo['link_one_price']['attr_info_name'])}</span>
                                <span class="price">￥{$vo['link_one_price']['price']}</span>
                                <span class="num">{$vo['number']}</span>
                                <span class="total">￥{$vo['total_price']}</span>

                            </div>
                        </div>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][gid]" value="{$vo['id']}"/>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][attr_id]" value="{$vo['link_one_price']['id']}"/>
                    <input type="hidden" name="goods_info[{$k}][sku_info][{$goods_key}][num]" value="{$vo['number']}"/>
                    {/volist}

            </div>
        </div>
        {/foreach}

    </div>
    <div class="layui-card">
        <div class="layui-card-header card-header">发票信息</div>
        <div class="layui-card-body invoice">
            <div class="intro">
                <span>发票类型</span>
                <span>发票说明</span>
            </div>
            <a href="#">修改</a>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body result">
            <div class="remark">
                <textarea rows="10" placeholder="订单备注 限200字" maxlength="200" name="remark"></textarea>
            </div>
            <div class="result-info">
                <table class="layui-table" lay-size="lg">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>购买数量</td>
                        <td>{$number}</td>
                    </tr>
                    <tr>
                        <td>运费</td>
                        <td>{$freight_money}</td>
                    </tr>
                    <tr>
                        <td>应付金额</td>
                        <td>￥{$total_money}</td>
                    </tr>
                    <tr>
                        <td>优惠抵扣</td>
                        <td>￥{$dis_money}</td>
                    </tr>
                    <tr>
                        <td>实付总额</td>
                        <td>￥{$pay_money}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body order-sure">
            <button>提交订单</button>
        </div>
    </div>

    </form>
</div>



{include file="common/footer"/}
{/block}
{block name="script"}
<script>

</script>
{/block}