<div class="layui-fluid footer">
    <div class="layui-main layui-main-width">
        <div class="shop-help">
            <div class="shop-help-list">
                <div class="help-item">
                    <h3>新手上路</h3>
                    <ul>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>新手上路</h3>
                    <ul>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>新手上路</h3>
                    <ul>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>新手上路</h3>
                    <ul>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                        <li><a href="###">新手上路</a></li>
                    </ul>
                </div>
            </div>
            <div class="help-cover">
                <div class="contact-me">
                    <em class="tip">联系我们</em>
                    <span class="phone">0755-2565678</span>
                </div>
                <div class="follow-me">
                    <em class="tip">关注我们</em>
                    <span class="weixin"></span>
                    <span class="weibo"></span>
                </div>
            </div>
        </div>
        <div class="shop-copyright">
            <ul>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
            </ul>
            <a href="###" class="right">Copyright xxx</a>
        </div>
    </div>

</div>