<div class="layui-header header">
    <div class="layui-main layui-main-width">
        <a href="{:url('index/index')}" class="layui-inline logo">LOGO</a>
        <div class="search-content">
            <div class="top">
                欢迎您xxxx
                <ul class="layui-block tip-href">
                    <li><a href="{:url('users/order')}">用户中心</a></li>
                    <li><a>平台公告</a></li>
                    <li><a>客服中心</a></li>
                </ul>
            </div>
            <div class="center">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="number" autocomplete="off" class="layui-input no-padding">
                    </div>
                    <button class="layui-btn ">
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                </div>
                <div class="cart">
                    <a href="{:url('goods/cart')}">购物车</a>
                </div>
            </div>
            <div class="down">
                <ul>
                    <li><a href="#">移动电源</a></li>
                    <li><a href="#">移动电源</a></li>
                    <li><a href="#">移动电源</a></li>
                    <li><a href="#">移动电源</a></li>
                </ul>
            </div>
        </div>


        <div class="nav">
            <div class="nav-left" id="categories">
                商品分类
                <i class="layui-icon layui-icon-down"></i>

            </div>
            <ul class="nav-list">
                <li><a href="#" class="active">移动电源</a></li>
                <li><a href="#">移动电源</a></li>
                <li><a href="#">移动电源</a></li>
                <li><a href="#">移动电源</a></li>
            </ul>
        </div>
    </div>
</div>