<div class="layui-header normal_header">
    <div class="layui-main layui-main-width normal_header_flex">
        <div class="logo-tip">
            <a href="#"><img src="/static/images/logo.png" alt=""></a>
            <span class="tip">我的购物车</span>
        </div>
        <div class="ship">
            <div class="user-info">
                <span class="info">您以登录xxxxxxx</span>
                <ul class="lan">
                    <li><a href="{:url('users/order')}">用户中心</a></li>
                    <li><a href="#">用户中心</a></li>
                    <li><a href="#">用户中心</a></li>
                </ul>
            </div>
            <div class="cart-step">
                <div class="step">
                    <ul class="time-horizontal">
                        <li class="active"><b></b>购物车</li>
                        <li><b></b>核对订单</li>
                        <li><b></b>提交订单</li>
                        <li><b></b>完成支付</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>