{extend name="base"/}
<!--上级栏目-->
{block name="slider_bar"}article-cate{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>{:lang('c_article')}</li>
<li>{:lang('c_article_cate')}</li>
{/block}


{block name="content"}


<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->
<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-xs-6">
            <a href="{:url('cateAdd')}" class="btn btn-sm btn-primary" type="button">{:c_lang('g_add','article_cate')}</a>
        </div>
        <div class="col-xs-5 text-right">

        </div>
        <div class="col-xs-1">

        </div>
    </div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th width="80">{:lang('g_td_name')}</th>
            <th width="120">子类名</th>
            <th width="80">{:lang('g_td_opt')}</th>
        </tr>
        </thead>

        <tbody>
        {volist name="list" id="vo"}
            <tr>
                <td rowspan="{:count($vo['link_data'])+1}">{:$vo['name']}</td>
                <td>--</td>
                <td>
                    <a href="{:url('cateAdd',['id'=>$vo['id']])}">{:lang('g_edit')}</a>
                    <a href="javascript:;" onclick="$.common.del(this,'{:url('cateDel')}',{'id':{:$vo['id']}})" data-id="{$vo['id']}">{:lang('g_del')}</a>
                </td>
            </tr>
            {volist name="vo['link_data']" id="ch"}
                <tr>
                    <td>{:$ch['name']}</td>
                    <td>
                        <a href="{:url('cateAdd',['id'=>$vo['id']])}">{:lang('g_edit')}</a>
                        <a href="javascript:;" onclick="$.common.del(this,'{:url('cateDel')}',{'id':{:$ch['id']}})" data-id="{$vo['id']}">{:lang('g_del')}</a>
                    </td>
                </tr>
            {/volist}
        {/volist}
        </tbody>
    </table>
</div>

{/block}

{block name="script"}

{/block}