{extend name="base"/}
<!--上级栏目-->
{block name="slider_bar"}article-cate{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>{:lang('c_article')}</li>
<li>{:lang('c_article_cate_opt')}</li>
{/block}


{block name="content"}


<!-- div.table-responsive -->

<!-- div.dataTables_borderWrap -->

<form class="form-horizontal" role="form" id="form" action="{:url('cateAdd')}">
    <input type="hidden" name="id" value="{$model['id']}" />

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" > {:c_lang($sys_master,'p_f_article_cate')} </label>

        <div class="col-sm-6">
            <select class="form-control" name="pid">
                <option value="0">顶级分类</option>
                {volist name="top_list" id="vo"}
                    <option value="{$vo['id']}" {:$model['pid']==$vo['id']?'selected':''}>{$vo['name']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> {:lang('g_name')} </label>

        <div class="col-sm-9">
            <input type="text"  placeholder="{:lang('g_name')}" name="name" value="{$model['name']}" class="col-lg-8"/>
        </div>
    </div>


    <div class="form-group ace-thumbnails">
        <label class="col-sm-3 control-label no-padding-right" > {:lang('g_photo')} </label>

        <div class="col-sm-8  ">

            <input type="hidden" name="img" value="{$model['img']}"/>
            <button type="button" class="layui-btn alone-upload" lay-data="{ 'data':{ 'route':'article_cate'}}" >
                <i class="layui-icon">&#xe67c;</i>{:lang('g_upload_image')}
            </button>
            <img src="{:get_image_location($model['img'])}" width="80px" height="30px"/>


        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" > {:lang('g_status')} </label>

        <div class="col-sm-9">
            <label>
                <input type="radio" name="status" value="1" class="ace" {$model['status']!=2?'checked':''}>
                <span class="lbl"> {:lang('g_status_normal')}</span>
            </label>
            <label>
                <input type="radio" name="status" value="2" class="ace" {$model['status']==2?'checked':''}>
                <span class="lbl">  {:lang('g_status_close')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" > {:lang('g_sort')} </label>

        <div class="col-sm-9">
            <input type="number" name="sort" value="{:$model['sort']?$model['sort']:100}"/>
        </div>
    </div>


    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button" id="submit" onclick="$.common.submit($(this).parents('form'))">
                <i class="ace-icon fa fa-check bigger-110"></i>
                {:lang('g_save')}
            </button>

        </div>
    </div>

</form>



{/block}

{block name="script"}
<script src="/static/layui-v2.4.5/define_upload.js"></script>
<script>
    layui.use('upload',function(){
        var upload = layui.upload; //得到 upload 对象
        $.fn.upload_obj.upload_img(upload,'.alone-upload')

    });
    $(function(){

    })
</script>
{/block}